<h1 class="title">
  Mr. MovieBot
</h1>

<p class="tag-line">
  The nation's favourite fumbling film&nbsp;fanatic
</p>

<div class="rule">~</div>

<%= form_for @user, url: { action: 'create' }, html: { class: 'signup' } do |f| %>
  <%= f.text_field :phone_number, placeholder: "A mobile number, ol' chap..." %>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= f.submit 'Sign Up' %>
<% end %>

<%= link_to 'FAQ', faq_path, class: 'faq-link' %> 
