<!DOCTYPE html>
<html>
  <head>
    <title>Mr. MovieBot</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=EB Garamond|Parisienne" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <%= image_tag 'logo.png', class: 'logo' %>

      <%= yield %>
    </div>
  </body>
</html>
